<%= render "shared/header" %>
<div class="edit-article-middle">
  <div class="edit-article-side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="edit-article-main">
    <div class="page-text"><%= "記事を編集する" %></div>
    <div class="edit-article-wrapper">
      <%= form_with model: @article, url: article_path(@article.id), local: true, class: "edit-article-form" do |f| %>
  
        <%= render partial: "shared/error_message", locals: { model: f.object },  class: "error-messages"%>
        <div id="image-list"></div>
        <div id="input-list">
        <%= f.file_field :images, name: "article[images][]", id: "article_image_-1", class: "new-article-image" %>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "指定なし"}, class: "edit-article-category") %>
        <%= f.text_field :title, placeholder: "タイトル", class: "edit-article-title" %>
        <%= f.text_area :text, placeholder: "本文", class: "edit-article-text" %>
        <%= f.submit "更新", class: "edit-article-post", id: "edit-article-post" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>