<%= render "shared/header" %>
<div class="middle">
  <div class="side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="main">
    <div class="page-text">みんなの投稿記事</div>
    <div class="article-wrapper" id="article-wrapper">
      
    <% @articles.each do |article| %>
      <div class="article-content">
        <% unless article.images.length == 0 %>
          <%= link_to image_tag(article.images[0], class: "article-image"), article_path(article.id), class: "article-image-a" %>
        <% else %>
          <%= link_to image_tag('1617965615639.png', class: 'article-image-sample'), article_path(article.id), class: "article-image-a" %>
        <% end %>
        <br>
        <%= link_to article.title, article_path(article.id), class: "article-title" %>
        <div class="article-category">カテゴリー：<%= link_to article.category.name, articles_search_path(@q, :'q[category_id_eq' => "#{article.category_id}") %></div>
        <div class="article-nickname">筆者：<%= link_to article.user.nickname, user_path(article.user_id) %></div>
        <% if user_signed_in? %>
          <% if current_user.bookmark?(article) %>
            <%= render 'bookmarks/unbookmark', article: article %>
          <% else %>
            <%= render 'bookmarks/bookmark', article: article %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>

