<%= render "shared/header" %>
<div class="middle">
  <div class="side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="main">
    <div class="page-text">新着記事</div>
    <div class="article-wrapper" id="article-wrapper">
      
    <% @articles.each do |article| %>
      <div class="article-content" id="article_<%= article.id %>">
        <%= render 'shared/articles', article: article %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>

