<%= render "shared/header" %>
<div class="new-article-middle">
  <div class="new-article-side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="new-article-main">
    <div class="page-text">新規投稿</div>
    <div class="new-article-wrapper">
      <%= form_with model: @article, url: articles_path, local: true, class: "new-article-form" do |f| %>
        <%= render partial: "shared/error_message", locals: { model: f.object },  class: "error-messages"%>
        <div id="image-area">
          <div id="image-list">
            <span id="drop-text">添付する画像をドロップ</span>
          </div>
          <div id="input-list">
            <%= f.file_field :images, name: "article[images][]", id: "input_article_image_-1", class: "new-article-image" %>
          </div>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "カテゴリーを選択"}, class: "new-article-category") %>
        <%= f.text_field :title, placeholder: "タイトル", class: "new-article-title" %>
        <%= f.text_area :text, placeholder: "本文", class: "new-article-text" %>
        <%= f.submit "投稿", class: "new-article-post", id: "new-article-post" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>