<%= render "shared/header" %>

<div class="show-article-middle" >
  <div class="show-article-side">
    </div>
  <div class="show-article-main">
    <div class="show-article-content">
      <div class="show-article-title"><%= @article.title %></div>
      <div class="show-article-category">カテゴリー：<%= link_to @article.category.name, root_path %></div>
      <div class="show-article-nickname">筆者：<%= link_to @article.user.nickname, root_path %></div>
      <%= image_tag(@article.image, class: "show-article-image") %>
      <div class="show-article-text"><%= @article.text %></div>
    </div>
    <%= link_to "トップページへ", root_path, class: "show-to-toppage" %>
  </div>
</div>

<%= render "shared/footer" %>