<%= render "shared/header" %>
<div class="show-article-middle" >
  <div class="show-article-side", id="show-article-side">
    <div class="show-categories", id="show-categories">
      <% @categories.each do |category| %>
        <div class="category">
          <%=link_to category.name, articles_search_path(@q, :'q[category_id_eq' => "#{category.id}") %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="show-article-main">
    <div class="show-article-content">
      <div class="show-article-title"><%= @article.title %></div>
      <div class="show-article-category">カテゴリー：<%= link_to @article.category.name, articles_search_path(@q, :'q[category_id_eq' => "#{@article.category_id}") %></div>
      <div class="show-article-nickname">筆者：<%= link_to @article.user.nickname, user_path(@article.user_id) %></div>
      <% unless @article.images.length == 0 %>
        <ul class="slick01">
        <% @article.images.each do |image|%>
          <% i = 0 %>
          <li><%= image_tag image.variant(resize: '500x500'), id: "#{i}" %></li>
          <% i = i + 1 %>
        <% end %>
        </ul>
      <% end %>
      <div class="show-article-text"><%= @article.text %></div>
       <%= link_to "トップページへ", root_path, class: "show-to-toppage" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>