<%= render "shared/header" %>
<div class="user-middle">
  <div class="user-side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="user-main">
  <div class="user-page-text"><%= @user.nickname %>さんの投稿記事</div>
  <div class="user-article-wrapper">
    <% @articles.each do |article| %>
      <div class="user-article-content">
        <% unless article.images.length == 0 %>
          <%= link_to image_tag(article.images[0], class: "user-article-image"), article_path(article.id) %>
        <% else %>
          <%= link_to image_tag('1617965615639.png', class: 'article-image-sample'), article_path(article.id), class: "article-image-a" %>
        <% end %>
        <%= link_to article.title, article_path(article.id), class: "user-article-title" %>
        <div class="user-article-category">カテゴリー：<%= link_to article.category.name, articles_search_path(@q, :'q[category_id_eq' => "#{article.category_id}") %></div>
        <% if user_signed_in? && article.user_id == current_user.id %>
          <div class="user-article-ope">
            <%= link_to "編集", edit_article_path(article.id), class: "user-article-edit" %>
            <%= link_to "削除", article_path(article.id), method: :delete, class: "user-article-destroy" %>
          </div>
        <% else %>
          <div class="user-article-nickname">筆者：<%= link_to article.user.nickname, user_path(article.user.id) %></div>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>