<%= render "shared/header" %>
<div class="user-middle">
  <div class="user-side">
    <%= render partial: "shared/side" %>
  </div>
  <div class="user-main">
  <div class="user-page-text"><span class="user-page-text-name"><%= @user.nickname %></span>さんの投稿記事</div>
  <div class="user-article-wrapper">
    <% @articles.each do |article| %>
      <div class="article-content" id="article_<%= article.id %>">
        <%= render 'shared/articles', article: article %>
      </div>
    <% end %>

    </div>
  </div>
</div>
<%= render "shared/footer" %>