<header class="top-page-header">
  <%= link_to image_tag("1617604047664.png", class: "original-icon"), "/" %>
  <div class="nav">
    <div class="search-area">
      <%= form_with(url: search_articles_path, local: true, class: "search-form") do |f| %>
        <%= f.text_field :search_keyword, placeholder: "キーワードを入力してください", class: "search-keyword" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="nav-right">
      <% if user_signed_in? %>
        <%= link_to image_tag("1617604053937.png", class: 'new-article'), new_article_path %>
      <% end %>
      <ul class="list-user">
        <% if user_signed_in?%>
            <li><%= link_to current_user.nickname, root_path, class: 'user-nickname'%>さん</li>
            <li><%= link_to image_tag("1617604056776.png", class: "signout"), destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to image_tag("1617604050744.png", class: 'signup'), new_user_registration_path %></li>
            <li><%= link_to image_tag("1617604059436.png", class: 'signin'), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>