<header class="top-page-header">
  <div class="original-icon">
    <%= link_to image_tag("1617965615639.png"), "/" %>
  </div>
  <div class="nav">
    <div class="search-area">
      <%= search_form_for @p, url: articles_search_path, class: "search-form" do |f| %>
        <label class="label-search-btn">
          <img src="../../assets/虫眼鏡の無料アイコン10.png" class="search-btn-view">
            <%= f.submit "検索", class: "search-btn" %>
        </label>
        <%= f.search_field :title_cont, placeholder: "記事タイトルを入力してください", class: "search-keyword" %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: 'カテゴリー', class: "search-category"%>
      <% end %>
    </div>
    <div class="nav-right">
      <% if user_signed_in? %>
        <%= link_to "投稿", new_article_path, class: 'new-article' %>
      <% end %>
      <ul class="list-user">
        <% if user_signed_in?%>
            <li class="user-nickname-text"><span class="user-nickname-text-name"><%= link_to current_user.nickname, user_path(current_user.id) %></span>さん</li>
            <ul id="header-menu">MENU▼
              <li style="display: none;">
                <%= link_to "お気に入り", bookmarks_articles_path, class: "bookmarks header-menu-li" %>
                <br>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "signout header-menu-li" %>
              </li>
            </ul>
        <% else %>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'signup' %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'signin' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>